<header>
  <nav>
    <ul class="nav-items">
      <li class="list-item"><a href="/">Shop</a></li>
      <li class="list-item"><a href="/admin/products/new">New Product</a></li>
    </ul>
  </nav>
</header>
