<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="../../css/navbar.css" />
    <link rel="stylesheet" href="../../css/utilities.css" />
    <link rel="stylesheet" href="../../css/form.css" />
  </head>
  <body>
    <%- include('../../includes/nav.ejs') %>

    <main class="container">
      <form action="/admin/products" method="POST">
        <input type="text" name="name" />
        <button type="submit">Create!</button>
      </form>
    </main>
  </body>
</html>
