<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/utilities.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-items">
          <li class="list-item"><a href="/">Shop</a></li>
          <li class="list-item"><a href="/admin/products/new">New Product</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <h1>All The Products</h1>
    </main>
  </body>
</html>
